@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --oliveGreen: hsl(78, 75%, 19%);
  --limeGreen: hsl(81, 69%, 42%);
  --yellowGreen: hsl(66, 90%, 74%);
  --Green: hsl(90, 71%, 35%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--yellowGreen);
}

header {
  background-color: var(--oliveGreen);
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
}

@media (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 650px) {
  .heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

nav {
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    box-sizing: content-box;
    background-color: var(--oliveGreen);
    left: -100%;
    top: 87px;
    width: 100%;
    transition: 300ms;
  }
}


nav ul{
  display:flex
}

@media (max-width: 650px) {
nav ul{
  flex-direction: column;
}
}

  
  nav li + li {
    margin-left: 16px;
  }
  
  @media (max-width: 650px) {
    nav li + li {
      margin-left: inherit;
    }
  
    nav li {
      margin-bottom: 16px;
      padding-left: 16px;
    }
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 300ms ease-in-out;
    background-color: white;
  }
  
  @media (max-width: 650px) {
    .hamburger {
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    nav.active {
      left: 0;
    }
  }
  
  @media (max-width: 650px) {
    nav li + li::before {
      display: none;
    }
  }
  
  nav li + li::before {
    content: "|";
    margin-right: 16px;
    color: white;
    font-size: 24px;
  }
  
  @media (max-width: 650px) {
    nav li + li::before {
      display: none;
    }
  }
  
  nav li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
  
  nav li a:hover {
    color: var(--yellowGreen);
  }
  
  h1 {
    font-size: 64px;
    font-weight: bold;
    color: var(--yellowGreen);
    color: white;
  }
  
  @media (max-width: 875px) {
    h1 {
      margin-bottom: 8px;
    }
  }
  
  @media (max-width: 650px) {
    .material-icons-outlined {
      display: inline-block;
      background: none;
      border: none;
    }
  }

main>img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  padding: 36px;
  background-color: var(--Green);
}

p{
  font-size: 24px;
  margin: 16px 8px;
}

.favorite-list{
  margin-left: 24px;
}

.favorite-list li{
  font-size: 48px;
  margin-bottom: 8px
}

form{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
  background-color: var(--oliveGreen);
  padding: 32px 16px;
}

form p{
  color: white;
}

form input, form label{
  display: block;
}

form label{
  font-weight: bold;
  margin-bottom: 4px;
}

form input{
  margin-bottom: 8px;
  height: 32px;
}

#submit{
  border: none;
  height: 32px;
  width: 64px;
  background-color: var(--Green);
  font-weight: bold;
  border-radius: 4px;
  margin-top: 16px;
}